<%= link_to "Back to Movies", movies_url %> | <%= link_to "Edit", edit_movie_path(@movie) %> | <%= link_to "Delete", @movie, method: :delete, data: {confirm: "Are you sure you want to delete this movie?"}  %>



<p><%= @movie.title %>, <%= @movie.director %></p>
<%= image_tag @movie.url %>

